 
* {
  box-sizing: border-box;
}

body { 
  padding: 20px; 
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}
 

/* Create three equal columns that floats next to each other */
.jsGaFilter {  
  display: none; 
}
.jsGaFilter img{
     width: 100%;
     padding: 11px 0;
}  
 

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
  border:none;
}

.btn:hover,focus {
  background-color: #ddd;

}

.btn.active {
  background-color: #666;
  color: white;
  
  border: none;
}