 
* {
  box-sizing: border-box;
}

body { 
  padding: 20px; 
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}
 

#myBtnContainer{
 text-align: center;
 margin-bottom: 30px;
}
.jsGaFilter {  
  display: none;  
}
.jsGaFilter img{
     width: 100%; 
     margin: 0;
}  
 
 
.show {
  display: block;
}

/* Style the buttons */
.btn {
  outline: none;
  padding: 8px 26px; 
  color: #fff;
  background-color: #403f3f;
  cursor: pointer;
  border:none;
}
.btn.focus, .btn:focus { 
  background-color: #ddd;
  outline: 0;
  box-shadow: 0px 0px 1px black!important;
}
 
.btn.active {
  background-color: #666;
  color: #ddd;
  box-shadow: 0px 0px 1px black!important; 
  border: none;
}